body {
  background: black;
}
.content-stars {
  max-width: none;
}

@media (min-width: 48em) {
  .content-stars {
    margin-left: 12rem;
  }
}

@media (min-width: 64em) {
  .content-stars {
    margin-left: 16rem;
  }
}

/* Scale canvas with resize attribute to full size */
canvas[resize] {
    width: 100%;
    height: 100%;
}
