<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}  
  <body>

    {% include sidebar.html %}
    <!--<img src="assets/images/us.png">-->
    <img src="{{ site.baseurl }}assets/images/heart.png" id="whap" style='display: none;' />
    <img src="{{ site.baseurl }}assets/images/jess-6.png" id="hand" style='display: none;' />
    <img src="{{ site.baseurl }}assets/images/jess-5a.png" id="hand2" style='display: none;' />
    <img src="{{ site.baseurl }}assets/images/jay-1.png" id="earth-0" style='display: none;' />
    <img src="{{ site.baseurl }}assets/images/jay-3.png" id="earth-1" style='display: none;' />
    <img src="{{ site.baseurl }}assets/images/jay-6.png" id="earth-2" style='display: none;' />
    <script type="text/paperscript" src="{{ site.baseurl }}assets/js/nyan.js" canvas="myCanvas"></script>

    {{ content }}
  </body>
</html>

